body {
    margin: 0;
}

.hero-container {
    background: rgba(255,255,255,1);
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.1);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
    display: flex;
    height: 50px;
}

.hero-container__item {
    padding: 10px;
}

.hero-container__icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hero-container__text {
    margin: 10px 10px 10px 0;
    font-weight: 300;
    font-size: 1.5em;
    float: left;
}

main {
    display: flex;
    justify-content: space-between;
    background: rgba(133, 133, 128, 0.1);
    padding-top: 60px;
    font-size: 18px;
}

ul {
    list-style: none;
    line-height: 30px;
    padding: 0;
}

#newpost {
    position: relative;
    height: 250px;
}

.postflame {
    padding: 0 70px;
}

#newpostflame {    
    background: rgba(255,255,255,.6);
}

#newsfeed {
    padding-top: 30px;
}

form {
    width: 100%;
    height: 100%;
    position: relative;
}

.newsfeed__post {
    position: relative;
    background: #ffffff;
    margin: 0 auto;
    height: 200px;
    width: 400px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.1);
    border-radius: 3px;
}

.newsfeed__profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.newsfeed__thumbsup {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    filter: grayscale(90%);
}

.newsfeed__thumbsdown {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50px;
    filter: grayscale(90%);
}

.pressed {
    filter: none;
}

.newsfeed__post-btn {
    padding: 5px;
    background: #039632;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.newsfeed__friend {
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 700;
}

.newsfeed__posted-date {
    position: absolute;
    top: 30px;
    left: 60px;
    color: #757070;
}

.newsfeed__message {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 90%;
    height: 70px;
}

.newsfeed__feeling {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.left-sidebar {
    width: 100%;
    padding-left: 20px;
}

.right-sidebar {
    width: 100%;
    padding-left: 20px;
}

.left-sidebar__item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    position: relative;
}

.left-sidebar__item:hover {
    background-color: #d2d0d0;
}

.left-sidebar__icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.active-state {
    width: 8px;
    height: 8px;
    background-color: #08b53f;
    position: absolute;
    border-radius: 50%;
    bottom: 3px;
    left: 18px;
}

label {
    display: inline-block;
    width: 150px;
    margin-left: 10px;
}
