body {
    margin: 0;
    background: rgba(100, 122, 140, 0.1);
}

.hero-container {
    background: rgba(0,0,0,.8);
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    height: 50px;
    padding: 5px 0;
}

.hero-container__item {
    padding: 5px;
    margin-left: 10px;
}

.hero-container__icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hero-container__text {
    margin: 0px;
    padding: 5px;
    font-size: 1.8em;
    float: left;
    font-weight: 400;
}

.main__container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    font-size: 16px;
    color: #363434;
}

.sidebar__list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
}

.sidebar__item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 5px;
    position: relative;
    width: 80%;
}

.sidebar__item:hover {
    background-color: #e8e6e6;
}

.sidebar__icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.left-sidebar__container {
    width: 100%;
    padding-left: 10px;
}

.new-post__container {
    position: relative;
    height: 200px;
    margin-bottom: 10px;
}

.new-post__flame {    
    background: rgba(255,255,255,.2) !important;
}

.newsfeed__container {
    height: 800px;
    position: relative;
    overflow: scroll;
    padding: 10px;
}

.newsfeed__container::-webkit-scrollbar {
    display: none;
}

.post__form {
    width: 100%;
    height: 100%;
    position: relative;
}

.post__flame {
    position: relative;
    background: #ffffff;
    margin: 0 auto;
    height: 200px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.1);
}

.post__icon {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.post__feeling {
    position: absolute;
    top: 37px;
    left: 37px;
    z-index: 50;
}

.post__thumbsup {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    filter: grayscale(90%);
}

.post__thumbsdown {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50px;
    filter: grayscale(90%);
}

.pressed {
    filter: none;
}

.post__btn {
    padding: 5px;
    background: #039632;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 24px;
}

.post__friend {
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 700;
}

.post__posted-date {
    position: absolute;
    top: 30px;
    left: 60px;
    color: #757070;
}

.post__message {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 90%;
    height: 60px;
    border: none;
    resize: none;
}

.right-sidebar__list {
    margin: 8px 0;
}

.right-sidebar__container {
    width: 100%;
    padding-left: 80px;
}

.right-sidebar__title {
    font-size: 16px;
    color: #646262;
    margin: 0;
}

.active-state {
    width: 12px;
    height: 12px;
    background-color: #08b53f;
    position: absolute;
    border-radius: 50%;
    bottom: 8px;
    left: 28px;
}

.active-state:nth-child(3) {
    background-color: #8b8787;
}

label {
    display: inline-block;
    width: 150px;
    margin-left: 10px;
}

.footer__container {
    margin-top: 40px;
    height: 50px;
    width: 100%;
    background: rgba(255,255,255,.8);
}

.footer__box {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer__text {
    color: #8b8787;
    font-size: 12px;
    padding: 0 10px;
}
